<!-- Welcom Back Speech Bubble -->
<div class="container">
    <div class="pinched">
        <div class="panel panel-default speech">
            <p>Welcome back John Smith <i class="speech material-icons unselectable">sentiment_very_satisfied</i></p>
        </div>
    </div>
</div>

<!-- Today's Stats Panel-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="material-icons unselectable">priority_high</i>
            Today's Stats
        </div>
        <div class="panel-body">
            <div class="containter">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="well well-lg">
                            <div class="row">
                                <div class="col-md-8 text-center">
                                    <p>Sales</p>
                                    <p *ngIf="today">${{today.sales.toFixed(2)}}</p>
                                </div>
                                <div class="col-md-4">
                                    <i class="today material-icons unselectable">attach_money</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="well well-lg">
                            <div class="row">
                                <div class="col-md-8 text-center">
                                    <p>Visits</p>
                                    <p *ngIf="today">{{today.visits}}</p>
                                </div>
                                <div class="col-md-4">
                                    <i class="today material-icons unselectable">person</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="well well-lg">
                            <div class="row">
                                <div class="col-md-8 text-center">
                                    <p>Points</p>
                                    <p *ngIf="today">{{today.points}}</p>
                                </div>
                                <div class="col-md-4">
                                    <i class="today material-icons unselectable">plus_one</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Revenue Graph -->
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="material-icons unselectable">poll</i>
                    Revenue
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- Recent Transactions Feed -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="material-icons unselectable">notifications</i>
                    Recent Transactions
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>