<!-- Welcom Back Speech Bubble -->
<div class="container">
    <div class="pinched">
        <div class="panel panel-default speech">
            <p>Welcome back John Smith <i class="speech material-icons unselectable">sentiment_very_satisfied</i></p>
        </div>
    </div>
</div>

<!-- Today's Stats Panel-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="material-icons unselectable">priority_high</i>
            Today's Stats
        </div>
        <div class="panel-body">
            <daily-stats></daily-stats>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Revenue Graph -->
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="material-icons unselectable">poll</i>
                    Revenue
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- Recent Transactions Feed -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="material-icons unselectable">notifications</i>
                    Recent Transactions
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>