<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="material-icons">priority_high</i>Today's Stats
        </div>
        <div class="panel-body">
            <div class="containter">
                <div class="row">
                    <div class="col-md-4">
                        <div class="well well-lg">
                            <div class="row">
                                <div class="col-md-8 text-center">
                                    <p>Sales</p>
                                    <p>$100.00</p>
                                </div>
                                <div class="col-md-4">
                                    <i class="today material-icons">attach_money</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-lg">
                            <div class="row">
                                <div class="col-md-8 text-center">
                                    <p>Visits</p>
                                    <p>2</p>
                                </div>
                                <div class="col-md-4">
                                    <i class="today material-icons">person</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-lg">
                            <div class="row">
                                <div class="col-md-8 text-center">
                                    <p>Points</p>
                                    <p>100</p>
                                </div>
                                <div class="col-md-4">
                                    <i class="today material-icons">plus_one</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>