<div class="page-header text-center">
  <h1>SalesHistory</h1>
</div>

<div class="containter">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<table class="table centered">
			<tr>
				<th>Transaction Date & Time</th>
				<th>Sales Amount</th>
				<th>QooPoints Earned</th>
				<th>Reference #</th>
				<th>Member</th>
				<th>Card #</th>
				<th>Points Source</th>
			</tr>
	<!-- 		<tr *ngFor="let trans of transactions">
				<td>{{trans.date | date:'short'}}</td>
				<td><a href="/history">{{trans.reference}}</a></td>
			</tr> -->
		</table>
	</div>
	<div class="col-md-2">
	</div>
</div>