.jumbotron {
	background-color: rgba(255, 99, 84, 1);
}

h1 {
    margin:0;
    padding:0;
    color: white;
}

.table .table-style .table-hover .table-bordered{
	background-color: rgba(255,255,255,1) !important;
	color: rgba(255,255,255,1) !important;
	margin: 0px auto;
}

.table-hover > thead {
    text-align: center;
    color: white;
}